
/* highlighted inline code within links has visibility issues */
a:hover > code {
    text-decoration: underline;
}

.half-width {
    width: 50%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}