:root {
    --cover-background-color: #404d69;
    --cover-background-image: #404d69;
}

.github-corner svg {
    fill: #364159;
    color: #ffffffe3;
}

.cover h1 {
    font-weight: bold;
}

.markdown-section h1 {
    font-weight: bold;
}

#docsify-darklight-theme {
    display: none;
}

.markdown-section h2 {
    border: none;
    padding: 0;
    margin-bottom: 0;
    font-size: xx-large;
}

/* drops the `text-align: left` from tables */
.markdown-section th:not([align]) {
    text-align: center;
}

.markdown-section th,
tr {
    border: 1px solid black;
}

span.subsection {
    /* !important is used to override .sidebar-nav ul>li>span */
    padding: 0 !important;
    border: none !important;
    font-weight: normal !important;
}
